# Ignore everything by default.
*

# Files in the home directory
!README.md
!.gitignore
!.gitconfig
!.bashrc

# Root directory symlink targets
!.root/
!.root/**

# User scripts
!bin/
!bin/**

# Config folder
!.config/
!.config/i3/
!.config/i3/**
!.config/kitty/
!.config/kitty/**
!.config/picom/
!.config/picom/**
!.config/redshift/
!.config/redshift/**

# Fish
!.config/fish/
!.config/fish/**
.config/fish/fish_variables
.config/fish/completions/nvm.fish
.config/fish/completions/tide.fish
.config/fish/completions/pdm.fish
.config/fish/conf.d/nvm.fish
.config/fish/conf.d/_tide_init.fish
.config/fish/functions/_nvm*
.config/fish/functions/nvm.fish
.config/fish/functions/tide/
.config/fish/functions/_tide*
.config/fish/functions/tide.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fisher.fish
.config/fish/themes/

# Neovim
!.config/nvim/
!.config/nvim/**
.config/nvim/plugged

# Helix
!.config/helix/
!.config/helix/**

# NNN
!.config/nnn/
!.config/nnn/plugins/
!.config/nnn/plugins/nuke

# systemd user services
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/plasma-i3.service
!.config/systemd/user/ssh-agent.service

# Autostart
!.config/autostart/
!.config/autostart/**

# Bottom
!.config/bottom/
!.config/bottom/**

# Wallpaper
!Pictures/
!Pictures/wallpapers/
!Pictures/wallpapers/current-wallpaper
