# Ignore everything by default.
*

# Files in the home directory
!README.md
!.gitignore
!.gitconfig
!.bashrc

# User scripts
!bin/
!bin/**

# Config folder
!.config/
!.config/compton/
!.config/compton/**
!.config/dunst/
!.config/dunst/**
!.config/i3/
!.config/i3/**
!.config/kitty/
!.config/kitty/**
!.config/picom/
!.config/picom/**
!.config/polybar/
!.config/polybar/**
!.config/ranger/
!.config/ranger/**
!.config/redshift/
!.config/redshift/**
!.config/rofi/
!.config/rofi/**
!.config/zathura/
!.config/zathura/**

# Fish
!.config/fish/
!.config/fish/**
.config/fish/fish_variables
.config/fish/completions/nvm.fish
.config/fish/completions/tide.fish
.config/fish/conf.d/nvm.fish
.config/fish/conf.d/_tide_init.fish
.config/fish/functions/_nvm*
.config/fish/functions/nvm.fish
.config/fish/functions/tide/
.config/fish/functions/_tide*
.config/fish/functions/tide.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fisher.fish

# Neovim
!.config/nvim/
!.config/nvim/**
.config/nvim/plugged

# NNN
!.config/nnn/
!.config/nnn/plugins/
!.config/nnn/plugins/nuke

# plasma-i3 service
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/plasma-i3.service

# Autostart
!.config/autostart/
!.config/autostart/**

# Wallpaper
!Pictures/
!Pictures/wallpapers/
!Pictures/wallpapers/current-wallpaper.jpg

